html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#app {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue',Helvetica,'PingFang SC','Hiragino Sans GB','Microsoft YaHei',SimSun,sans-serif;
  overflow: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4078c0;
  text-decoration: none;
}
code {
  background-color: #f9fafc;
  padding: 0 4px;
  border: 1px solid #eaeefb;
  border-radius: 4px;
}
button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

h2 {
  font-size: 28px;
  color: #1f2d3d;
  margin: 0;
}
h3 {
  font-size: 22px;
}
h2, h3, h4, h5 {
  font-weight: normal;
  color: #1f2f3d;
 }

.el-row{
  margin-bottom: 20px;
}