<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="container-fluid">
      <h3>Details for {{pet.name}}</h3>
    </div>
  </div>
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Tag Id</label>
            <input type="text" class="form-control" name="idTag" id="idTag" readOnly [ngModel]="pet.idTag">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" id="name" readOnly [ngModel]="pet.name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Animal Type</label>
            <input type="text" class="form-control" name="animalType" id="animalType" readOnly
                   [ngModel]="pet.animalType">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Gender</label>
            <input type="text" class="form-control" name="gender" id="gender" readOnly [ngModel]="pet.gender">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Breed</label>
            <input type="text" class="form-control" name="breed" id="breed" readOnly [ngModel]="pet.breed">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Color</label>
            <input type="text" class="form-control" name="color" id="color" readOnly [ngModel]="pet.color">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Age</label>
            <input type="number" class="form-control" name="age" id="age" readOnly [ngModel]="pet.age">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Weight</label>
            <input type="text" class="form-control" name="weight" id="weight" readOnly [ngModel]="pet.weight">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Admition Date</label>
            <input type="text" class="form-control" name="admitionDate" id="admitionDate" readOnly
                   [ngModel]="pet.admitionDate">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Notes</label>
            <textarea rows="5" class="form-control" name="notes" id="notes" placeholder="Notes" readOnly
                      [ngModel]="pet.notes"></textarea>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4" *ngFor="let image of pet.images">
          <img class="img-rounded img-responsive" src="{{baseUrl + image}}">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <button type="submit" class="btn btn-default btn-info" (click)="editPet()">Edit Info</button>
            <button type="submit" class="btn btn-default btn-success" *ngIf="!pet.isAdopted" (click)="emailInfo()">Email Info</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="panel-footer">
    <span><b>Status:</b> {{pet.statusDescription}} </span>
  </div>
</div>
<hr>
<div *ngIf="pet.isAdopted" class="container">
  <div class="row">
    <p>{{pet.name}} has been adopted: </p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Adopter</th>
        <th>Email</th>
        <th>Phone</th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{pet.adopter.name}}</td>
        <td>{{pet.adopter.email}}</td>
        <td>{{pet.adopter.phone}}</td>
        <td><a class="text-info" [routerLink]="['../adopters/', pet.adopter.id]">Details</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>


