<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="container-fluid">
      <h3> Pets</h3>
      <a routerLink="./new" class="btn btn-sm btn-success pull-right">Register New</a>
    </div>
  </div>
  <div class="panel-body">
    <p>This a list of the pets that we currently have registered: </p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Tag Id</th>
        <th>Name</th>
        <th>Type</th>
        <th>Breed</th>
        <th>Gender</th>
        <th>Color</th>
        <th class="text-center">Adopted</th>
        <th> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pet of pets">
        <td>{{pet.idTag}}</td>
        <td>{{pet.name}}</td>
        <td>{{pet.animalType}}</td>
        <td>{{pet.breed}}</td>
        <td>{{pet.gender}}</td>
        <td>{{pet.color}}</td>
        <td class="text-center"><input type="checkbox" [checked]="pet.isAdopted" disabled></td>
        <td><a class="text-info" [routerLink]="['./', pet.id]">Details</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
