<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <a href="#" class="navbar-brand"><i class="fa fa-paw"></i> Saving Little Souls Admin</a>
    <ul class="nav navbar-nav pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle">
          <i class="fa fa-user"></i> Miguel Lara <i class="caret"></i> </a>
        <ul class="dropdown-menu">
          <li><a href="#">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<div id="wrapper">
  <ul class="nav nav-flex-column">
    <li class="nav-item"><a class="nav-link active" href="#"><i class="fa fa-users"></i></a></li>
    <li><a href="#"><i class="fa fa-users"></i></a></li>
    <li><a href="#"><i class="fa fa-users"></i></a></li>
    <li><a href="#"><i class="fa fa-users"></i></a></li>
    <li><a href="#"><i class="fa fa-users"></i></a></li>
  </ul>
</div>
<div id="content-wrapper" class="col-md-11 pull-right">
  <div id="content">

  </div>
</div>


