<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="container-fluid">
      <h3>Details for {{pet.name}}</h3>
    </div>
  </div>
  <div class="panel-body">
    <form>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" [readonly]="!editMode" [(ngModel)]="pet.name">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Color</label>
            <input type="text" class="form-control" name="color" id="color" placeholder="Color" [readonly]="!editMode" [(ngModel)]="pet.color">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Age</label>
            <input type="number" class="form-control" name="age" id="age"  placeholder="Age" [readonly]="!editMode" [(ngModel)]="pet.age">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Gender</label>
            <select class="form-control" name="gender" id="gender" >
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Animal Type</label>
            <select  class="form-control" name="animalType" id="animalType" >
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label>Breed</label>
            <select class="form-control" name="breed" id="breed" >
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Notes</label>
            <textarea rows="5" class="form-control" name="notes" id="notes"  placeholder="Notes" [readonly]="!editMode" [(ngModel)]="pet.notes"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Adopter</label>
            <select class="form-control" name="adopter" id="adopter" >
              <option></option>
              <option></option>
              <option></option>
            </select>
          </div>
        </div>
      </div>
     <div class="row">
       <div class="col-md-12">
         <div class="form-group">
           <button type="submit" class="btn btn-default btn-info" (click)="editMode?saveChanges():setEditMode()">{{ editMode?'Save':'Edit' }}</button>
           <button type="submit" class="btn btn-default btn-danger" (click)="editMode?cancelEditMode():deleteRecord()">{{editMode?'Cancel':'Delete'}}</button>
         </div>
       </div>
     </div>
    </form>
  </div>
</div>
<br>
<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="container-fluid">
      <h3>Images for {{pet.name}}</h3>
      <a routerLink="./new" class="btn btn-sm btn-success pull-right">Add Image</a>
    </div>
  </div>
  <div class="panel-body"><p class="text-muted">(Note: Images must be 500 x 500 pixels / A maximum of 3 images per pet allowed.)</p>
    <div class="row">
      <div class="col-md-4" *ngFor="let image of pet.images">
        <img class="img-rounded img-responsive" src="{{baseUrl + image}}">
      </div>
    </div>
  </div>
</div>
