* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    color: #505050;
    font-family: LatoWeb,Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}



/*-------------------------------------------------------------------*/
/*Header section*/
/*-------------------------------------------------------------------*/
header {
    position:relative;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(../../../assets/home/Img/main_bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.header-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
}

header h1, header h2 {
    color: #fff;
    font-family: LatoWebLight,Arial,sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
}

header h1 {
    font-size: 190%;
}

header h2 {
    font-size: 150%;
    margin-bottom: 20px;
}

/*Main Nav Menu*/

.nav-main {
    float: right;
    list-style: none;
    margin-top: 50px;
}

    .nav-main li {
        display: inline-block;
        margin-left: 40px;
    }

        .nav-main li a:link,
        .nav-main li a:visited {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 80%;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
            padding-bottom: 5px;
        }

        .nav-main li a:hover,
        .nav-main li a:active {
            border-bottom: 2px solid #7cd1bd;
        }

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 30px;
}

/*Sticky Main Nav Menu*/

.sticky{
    background-color: rgba(255,255,255,0.95);
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 100;
    box-shadow:rgba(10,10,10,0.3) 0 2px ;
}

.sticky .nav-main {
    float: right;
    list-style: none;
    margin-top: 20px;
}

    .sticky .nav-main li {
        display: inline-block;
        margin-left: 40px;
    }

       .sticky .nav-main li a:link,
       .sticky .nav-main li a:visited {
            color: #888888;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 80%;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.2s;
            padding-bottom: 20px;
        }

       .sticky .nav-main li a:hover,
       .sticky .nav-main li a:active {
            border-bottom: 2px solid #7cd1bd;
        }

.sticky .logo {
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}

/*-------------------------------------------------------------------*/
/* REUSABLE COMPONENTS */
/*-------------------------------------------------------------------*/

.row {
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

section{
    padding: 60px 0;
}

.box{
    padding: 1%;
}

.clearfix{
    zoom:1
}
.clearfix:after{
    content: ".";
    clear:both;
    display:block;
    height: 0;
    visibility:hidden;
}


/* ---------- HEADINGS ---------- */

section h2, section h3 {
    font-family: LatoWebLight,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

section h2 {
    font-size: 150%;
    text-align:center;
    word-spacing: 2px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

section h2:after{
    display:block;
    height: 2px;
    background-color: #7cd1bd;
    content: "";
    width: 150px;
    margin: 0 auto;
    margin-top: 15px;
}

section h3 {
    font-size: 110%;
    word-spacing: 1px;
     margin-bottom: 10px;
}


/* ---------- PARAGRAPHS ---------- */

.long-copy{
    line-height: 140%;
    width: 80%;
    margin-left: 10%;
}

.box p{
    font-size: 85%;
    line-height: 140%;
    text-align:justify;
}

/* ---------- ICONS ---------- */
.big-icon{
    font-size:300%;
    display: block;
    color: #7cd1bd;
    margin-bottom: 10px;
}

.small-icon{
    display: inline-block;
    width: 30px;
    text-align:center;
    color: #7cd1bd;
    font-size: 120%;
    margin-right: 10px;
}


/* ---------- BUTTONS ---------- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 5px 20px;
    font-weight: lighter;
    text-decoration: none;
    border-radius: 100px;
    color: #fff;
    margin-right: 15px;
    transition: background-color 0.2s, border 0.2s;
}



.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #7cd1bd;
    border: 2px solid #7cd1bd;
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #40b89c;
    border: 2px solid #40b89c;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 2px solid #7cd1bd;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #40b89c;
    border: 2px solid #40b89c;
}



/*-------------------------------------------------------------------*/
/* SECTIONS INDIVIDUAL FEATURES */
/*-------------------------------------------------------------------*/


/* ---------- MISSION ---------- */

.section-mission .long-copy{
    margin-bottom: 30px;
}

/* ---------- PETS SHOWCASE ---------- */

.section-pet-showcase{
    padding: 0;
}

.pets-showcase{
    list-style:none;
    width: 100%;
}

.pets-showcase li{
    display:block;
    float:left;
    width:25%;
}

.pet-photo{
    width: 100%;
    overflow:hidden;
    background-color: #000000;
}

.pet-photo img{
    width: 100%;
    height: auto;
    opacity: 0.5;
    transform: scale(1.2);
    transition: transform 0.5s, opacity 0.5s;
}

.pet-photo img:hover{
    opacity: 1;
    transform: scale(1.03);
}

/* ---------- ADOPTION PROCESS ---------- */
.section-process{
    background: #eaeaea;
}

.steps-box:first-child{
    text-align:right;
    padding-right:3%;
    margin-top:40px;
}

.steps-box:last-child{
    padding-left:3%;
    margin-top:60px;
}

.steps-box span{
    font-size: 90%;
    display:block;
    margin-bottom:20px;
}

.steps-box p strong{
    color: #7cd1bd;;
}

.phone{
    width: 40%;
}

.process-step{
    margin-bottom:40px;
}

.process-step div{
    padding: 5px;
    height:55px;
    width: 55px;
    text-align:center;
    color: #7cd1bd;
    border: 2px solid #7cd1bd;
    border-radius: 50%;
    display:inline-block;
    font-size: 150%;
    float:left;
    margin-right:20px;
}


/* ---------- PENDING ---------- */

.box img{
    width:100%;
    height: auto;
    margin-bottom: 10px;
}

.pending-feature{
    margin-bottom: 5px;
}

/* ---------- TESTIMONIALS ---------- */

.section-testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../../../assets/home/Img/testimonial_bg.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    background-attachment:fixed;
}

.section-testimonials h2{
    font-weight:lighter;
}

blockquote,cite{
    padding: 2%;
    font-family: LatoWebLight,Arial, sans-serif;
    line-height: 140%;
    margin: 20px 0;
}

cite{
    font-size: 90%;
}

cite img{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align:middle;
}

/* ---------- CONTACT US ---------- */

.contact-form{
    width: 60%;
    margin: 0 auto;
    font-size: 90%;
    margin-top: 20px;
}

input[type=text],input[type=email],select,textarea{
    width: 100%;
    padding: 5px;
    border: solid 2px #cccccc;
    border-radius: 5px;
    font-size: 80%;
}

textarea{
    height: 100px;
}

input[type=checkbox]{
    margin: 10px 5px 10px 0;
}

*:focus{
    outline-color: #40b89c;
}

/* ---------- FOOTER --------- */

footer{
    background-color: #333333;
    padding: 30px 0;
    border-top: solid 2px #40b89c;
}

.nav-footer{
    list-style:none;
    float:left;
}

.social-links{
    list-style:none;
    float:right;
}

.nav-footer li,
.social-links li{
    display:inline-block;
    margin-right: 6px;
    font-size: 80%;
    font-weight:lighter;
    border-right: solid 1px #888888;
    padding-right: 7px;
}

.nav-footer li:last-child,
.social-links li:last-child{
    border-right: 0;
    padding-right: 0
}

    .nav-footer li a:link,
    .nav-footer li a:visited,
    .social-links li a:link,
    .social-links li a:visited{
        text-decoration: none;
        color: #888888;
    }

    .nav-footer li a:hover,
    .nav-footer li a:active,
    .social-links li a:hover,
    .social-links li a:active{
        color: #cccccc;
    }

    footer p{
        margin-top: 10px;
        color: #888888;
        font-size: 70%;
        font-weight:lighter;
    }


/* ---------- ANIMATIONS --------- */
#missionFadeIn{
    opacity: 0;
}

#phoneFadeIn{
    opacity: 0;
}

#pendingFadeIn{
    opacity: 0;
}
